@import '_variables.scss';

@font-face {
   font-family: $roman;
   font-weight: 300;
   src: url(../../assets/fonts/Publico-Roman.ttf) format('truetype');
}

@font-face {
   font-family: $light;
   font-weight: 300;
   src: url(../../assets/fonts/Publico-Light.ttf) format('truetype');
}

@font-face {
   font-family: $medium;
   font-weight: 300;
   src: url(../../assets/fonts/Publico-Medium.ttf) format('truetype');
}

@font-face {
   font-family: $bold;
   font-weight: bold;
   src: url(../../assets/fonts/Publico-Bold.ttf) format('truetype');
}


html {
   height: 100%;
   font-size: 15px;
}

body {
   margin: 0;
   padding: 0;
}

@import '_mixins.scss';
@import './partials/_hero-banner.scss';
@import './partials/_header.scss';
@import './partials/_hazards.scss';
@import './partials/_resources.scss';
@import './partials/_footer.scss';

