@import '../_variables.scss';
@import '../_mixins.scss';

.hero-banner {
	height: 100vh;
	background: url('../../assets/images/hero-banner-people.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.hero-banner-feature {
    background: #f1352b;
    width: 90%;
    position: absolute;
    bottom: 0;
    left: 0;
	 right: 0;
	 margin: 0 auto;
}